// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
    .main-wrapper {

        &.loginpage {
            height: 100vh;

            .login-lft-cont-container {
                position: inherit;
                border-top: none;
                bottom: inherit;
                left: inherit;
                right: inherit;
                text-align: center;
                width: inherit;
                padding: 40px 16px 16px 16px;

                .login-cont-logo {
                    width: 111px;
                    height: auto;
                }

                .para {
                    font-size: 24px;
                    width: 100%;
                }

                .version-details {
                    display: none;
                }
            }

            .login-panel-container {
                position: absolute;
                right: 24px;
                left: 24px;
                top: inherit;
                bottom: 24px;
                margin: 0;;
                // height: 376px;
                width: inherit;
                padding: 0;
                padding-bottom:24px;

                .error{
                    margin-left: 12px;
                    margin-top: 0px;
                    margin-right: 12px;
                }

                img.login-form-logo {
                    display: none;
                }

                .welcome-txt {
                    margin-top: 12px;
                    margin-left: 12px;
                    margin-right: 12px;

                    font: {
                        size: $base-font-size;
                    }

                    .hi-txt {
                        display: none;
                    }
                }

                .form-placeholder-container {
                    margin-top: 16px;
                    margin-left: 12px;
                    margin-right: 12px;
                }

                .login-copyrights {
                    display: none;
                }
            }

            .iptor-login-btn {
                background-color: $limed-spruce;
                padding: 18px 32px;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }
        }

        &.companypage {
            height: 100vh;

            .mobile-backto-login {
                display: block;
            }

            .login-lft-cont-container {
                display: none;
            }

            .login-panel-container {
                position: absolute;
                right: 12px;
                left: 12px;
                top: 120px;
                bottom: 12px;
                margin: 0;
                width: inherit;
                padding: 12px;
                overflow-y: auto;

                img.login-form-logo {
                    display: none;
                }

                .username-txt {
                    margin-top: 12px;
                    margin-left: 12px;
                    margin-right: 12px;

                    font: {
                        size: $base-font-size;
                    }

                    .user-txt {
                        font: {
                            size: 24px;
                            weight: $font-weight-semibold;
                        }
                    }

                    .company-txt {
                        font: {
                            size: 18px;
                            weight: $font-weight-semibold;
                        }
                    }

                }

                .companylist-container {
                    overflow-y: visible;
                }

                .desk-backto-login {
                    display: none;
                }

                .companys-list-item {
                    margin-top: 20px;
                }

                .login-copyrights {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 767.98px) and (orientation:landscape) {
    .main-wrapper {

        &.loginpage,
        &.companypage {
            height: 600px;

            .iptor-login-btn {
                background-color: $limed-spruce;
                padding: 18px 32px;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }
        }

    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .main-wrapper {

        &.loginpage {
            height: 100vh;

            .login-lft-cont-container {
                position: inherit;
                border-top: none;
                bottom: inherit;
                left: inherit;
                right: inherit;
                text-align: center;
                width: inherit;
                padding: 40px 16px 16px 16px;

                .login-cont-logo {
                    width: 111px;
                    height: auto;
                }

                .para {
                    font-size: 24px;
                    width: 100%;
                }

                .version-details {
                    display: none;
                }
            }

            .login-panel-container {
                position: absolute;
                right: 24px;
                left: 24px;
                top: inherit;
                bottom: 24px;
                margin: 0;
                height: 340px;
                width: inherit;
                padding: 0;

                img.login-form-logo {
                    display: none;
                }

                .welcome-txt {
                    margin-top: 12px;
                    margin-left: 12px;
                    margin-right: 12px;

                    font: {
                        size: $base-font-size;
                    }

                    .hi-txt {
                        display: none;
                    }
                }

                .form-placeholder-container {
                    margin-top: 16px;
                    margin-left: 12px;
                    margin-right: 12px;
                }

                .login-copyrights {
                    display: none;
                }
            }

            .iptor-login-btn {
                background-color: $limed-spruce;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }

            .iptor-login-btn {
                background-color: $limed-spruce;
                padding: 18px 32px;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }
        }

        &.companypage {
            height: 100vh;

            .mobile-backto-login {
                display: block;
            }

            .login-lft-cont-container {
                display: none;
            }

            .login-panel-container {
                position: absolute;
                right: 12px;
                left: 12px;
                top: 120px;
                bottom: 12px;
                margin: 0;
                width: inherit;
                padding: 12px;
                overflow-y: auto;

                img.login-form-logo {
                    display: none;
                }

                .username-txt {
                    margin-top: 12px;
                    margin-left: 12px;
                    margin-right: 12px;

                    font: {
                        size: $base-font-size;
                    }

                    .user-txt {
                        font: {
                            size: 24px;
                            weight: $font-weight-semibold;
                        }
                    }

                    .company-txt {
                        font: {
                            size: 18px;
                            weight: $font-weight-semibold;
                        }
                    }

                }

                .companylist-container {
                    max-height: inherit;
                    overflow-y: visible;
                }

                .desk-backto-login {
                    display: none;
                }

                .companys-list-item {
                    margin-top: 20px;
                }

                .login-copyrights {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 991.98px) and (orientation:landscape) {
    .main-wrapper {

        &.loginpage {
            height: 600px;

            .iptor-login-btn {
                background-color: $limed-spruce;
                padding: 18px 32px;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-wrapper {

        &.loginpage {
            height: 100vh;
            position: relative;

            .login-lft-cont-container {
                position: absolute;
                left: 60px;
                bottom: 100px;
                width: 40%;
                padding-top: 56px;
                border-top: solid 1px $white;

                .para {
                    color: $white;
                    margin-top: 16px;
                    width: 70%;

                    font: {
                        size: 24px;
                        weight: $font-weight-bold;
                    }
                }

                .version-details {
                    font: {
                        size: $base-font-size;
                        weight: $font-weight-regular;
                    }

                    color: $white;
                    margin-top: 16px;
                    line-height: 19px;
                    width: 100%;
                }
            }

            .login-panel-container {
                position: absolute;
                right: 24px;
                width: 420px;
                top: 24px;
                bottom: 24px;
                background: $white;
                padding: 24px;
                @include border-radius($border-radius);

                .login-form-logo {
                    display: none;
                }

                .welcome-txt {
                    color: $blue-bayoux;
                    margin-left: 24px;
                    margin-right: 24px;
                    margin-top: 32px;
                    line-height: 49px;

                    font: {
                        weight: $font-weight-regular;
                        size: 36px;
                        color: $blue-bayoux;
                    }

                    span {
                        display: block;
                    }
                }

                .login-copyrights {
                    position: absolute;
                    bottom: 24px;
                    left: 0;
                    padding-left: 48px;
                    padding-right: 48px;
                    color: $bermuda-gray;
                    line-height: 16px;

                    font: {
                        size: $base-font-size - 2;
                        weight: $font-weight-regular;
                    }

                }

                .form-placeholder-container {
                    margin-top: 56px;
                    margin-left: 24px;
                    margin-right: 24px;
                }
            }
        }

        &.companypage {
            height: 100vh;
            position: relative;

            .login-lft-cont-container {
                position: absolute;
                left: 60px;
                bottom: 100px;
                width: 40%;
                padding-top: 56px;
                border-top: solid 1px $white;

                .para {
                    color: $white;
                    margin-top: 16px;
                    width: 70%;

                    font: {
                        size: 24px;
                        weight: $font-weight-bold;
                    }
                }

                .version-details {
                    font: {
                        size: $base-font-size;
                        weight: $font-weight-regular;
                    }

                    color: $white;
                    margin-top: 16px;
                    line-height: 19px;
                    width: 100%;
                }
            }

            .login-panel-container {
                .desk-backto-login {
                    display: none;
                }

                .companylist-container {
                    max-height: inherit;
                    overflow-y: visible;
                }

                .login-copyrights {
                    display: none;
                }
            }

        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}