// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
    .main-wrapper {

        &.loginpage {
            height: 100vh;

            .login-lft-cont-container {
                position: inherit;
                border-top: none;
                bottom: inherit;
                left: inherit;
                right: inherit;
                text-align: center;
                width: inherit;
                padding: 40px 16px 16px 16px;

                .login-cont-logo {
                    width: 111px;
                    height: auto;
                }

                .para {
                    font-size: 24px;
                    width: 100%;
                }

                .version-details {
                    display: none;
                }
            }

            .login-panel-container {
                position: absolute;
                right: 24px;
                left: 24px;
                top: inherit;
                bottom: 24px;
                margin: 0;
                // height: 376px;
                width: inherit;
                padding: 0;
                padding-bottom:24px;

                .error{
                    margin-left: 12px;
                    margin-top: 0px;
                    margin-right: 12px;
                }

                img.login-form-logo {
                    display: none;
                }

                .welcome-txt {
                    margin-top: 12px;
                    margin-left: 12px;
                    margin-right: 12px;

                    font: {
                        size: $base-font-size;
                    }

                    .hi-txt {
                        display: none;
                    }
                }

                .form-placeholder-container {
                    margin-top: 16px;
                    margin-left: 12px;
                    margin-right: 12px;
                }

                .login-copyrights {
                    display: none;
                }
            }

            .iptor-login-btn {
                background-color: $limed-spruce;
                padding: 18px 32px;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }
        }

        &.companypage {
            height: 100vh;

            .mobile-backto-login {
                display: block;
            }

            .login-lft-cont-container {
                display: none;
            }

            .login-panel-container {
                position: absolute;
                right: 12px;
                left: 12px;
                top: 120px;
                bottom: 12px;
                margin: 0;
                width: inherit;
                padding: 12px;
                overflow-y: auto;

                img.login-form-logo {
                    display: none;
                }

                .username-txt {
                    margin-top: 12px;
                    margin-left: 12px;
                    margin-right: 12px;

                    font: {
                        size: $base-font-size;
                    }

                    .user-txt {
                        font: {
                            size: 24px;
                            weight: $font-weight-semibold;
                        }
                    }

                    .company-txt {
                        font: {
                            size: 18px;
                            weight: $font-weight-semibold;
                        }
                    }

                }

                .companylist-container {
                    overflow-y: visible;
                }

                .desk-backto-login {
                    display: none;
                }

                .companys-list-item {
                    margin-top: 20px;
                }

                .login-copyrights {
                    display: none;
                }
            }
        }

        &.opportunity {

            .pagelvl-actionrow,
            .sec-product-desc,
            .sec-staging {
                display: none !important;
            }

            .opp-product-mobilecard {
                display: block;
                background: $white;
                margin-bottom: 24px;
                padding: 0;

                .product-name-action-row {
                    border-bottom: solid 1px $mercury;

                    .lft-prodname {
                        p {
                            padding: 24px 16px 0px 40px;
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                left: 12px;
                                top: 23px;
                                width: 24px;
                                height: 24px;
                                display: block;
                                //background: url("./images/chevron-left-black.svg") no-repeat top left;
                            }

                            font: {
                                size: $base-font-size + 4;
                                weight: $font-weight-bold;
                            }

                            span.id-num {
                                display: block;
                                padding-top: 4px;

                                font: {
                                    size: $base-font-size - 2;
                                    weight: $font-weight-regular;
                                }
                            }

                            span.location {
                                display: block;
                                padding-top: 4px;

                                font: {
                                    size: $base-font-size - 2;
                                    weight: $font-weight-regular;
                                }
                            }
                        }
                    }

                    .rgt-actioncol {
                        padding: 24px 24px 24px 8px;

                        ul {
                            min-width: 120px;
                            text-align: right;
                            li {
                                img {
                                    width: 19px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }

                .status-row {
                    padding: 16px 12px 16px 12px;
                    border-bottom: solid 1px $mercury;

                    ul {

                        padding-left:0;

                        li {
                            margin-right: 16px;

                            &.grade {
                                background: $mercury;
                                color: $limed-spruce;
                                padding: 8px 16px;
                                @include border-radius(20px);

                                font: {
                                    size: $base-font-size - 2;
                                    weight: $font-weight-bold;
                                }
                            }

                            &.open {
                                color: $limed-spruce;

                                font: {
                                    size: $base-font-size;
                                    weight: $font-weight-semibold;
                                }
                            }

                            &.status {
                                color: $persian-green;

                                font: {
                                    size: $base-font-size;
                                    weight: $font-weight-semibold;
                                }
                            }
                        }
                    }
                }

                .qtr-details {
                    border-bottom: solid 1px $mercury;

                    .curr-qtr,
                    .deal-size {
                        p {
                            padding: 16px 12px;
                            line-height: 18px;

                            font: {
                                size: $base-font-size + 4;
                                weight: $font-weight-semibold;
                            }

                            span {
                                display: block;

                                font: {
                                    size: $base-font-size;
                                    weight: $font-weight-regular;
                                }
                            }
                        }
                    }
                }

                .mobsec-staging {

                    .title {
                        padding: 16px 16px 24px 12px;

                        font: {
                            size: $base-font-size;
                            weight: $font-weight-regular;
                        }
                    }

                    .stage-lvl {
                        overflow-y: auto;
                        position: relative;

                        .stage-circles {
                            padding-left: 0;
                            margin: 0px 12px 12px 12px;

                            li {
                                background: $mercury;
                                color: $gull-gray;
                                padding: 12px 15px;
                                @include border-radius(50%);
                                margin-right: 16px;

                                font: {
                                    size: $base-font-size + 4;
                                    weight: $font-weight-regular;
                                }

                                &.active {
                                    font: {
                                        size: $base-font-size + 4;
                                        weight: $font-weight-bold;
                                    }

                                    background: $jagged-ice;
                                    color: $persian-green;
                                    border: solid 1px $persian-green;
                                    position: relative;

                                    &::after {
                                        position: absolute;
                                        content: '';
                                        bottom: -14px;
                                        left: 17px;
                                        width: 0;
                                        height: 0;
                                        border-left: 10px solid transparent;
                                        border-right: 10px solid transparent;
                                        border-bottom: 10px solid $jagged-ice;
                                    }
                                }

                                &.ready {
                                    background: $white;
                                    color: $persian-green;
                                    border: solid 1px $persian-green;

                                    font: {
                                        size: $base-font-size + 4;
                                        weight: $font-weight-regular;
                                    }
                                }
                            }
                        }

                        .sec-change-approver {
                            position: sticky;
                            left: 0;
                            bottom: 0;
                            background: $jagged-ice;
                            padding: 16px 12px;
                            display: flex;
                            align-items: center;

                            .cont {
                                color: $blue-bayoux;
                                width: 45%;

                                font: {
                                    size: $base-font-size;
                                    weight: $font-weight-semibold;
                                }
                            }

                            .action-btn {
                                width: 60%;
                                white-space: nowrap;
                                text-align: right;

                                .txt-link {
                                    @include text-link($white, $white, 0.5);
                                    @include border-radius($border-radius);
                                    background: $limed-spruce;
                                    text-align: center;
                                    padding: 12px 18px;
                                    color: $white;
                                }
                            }
                        }


                    }
                }
            }

            .sec-info-accordion {
                .accordion {
                    li {
                        display: block;
                        margin-bottom: 12px;

                        .accr-body-container {
                            li {
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }


        }
    }

    nav.site-navbar {
        display: none !important;
    }
}

@media (max-width: 767.98px) and (orientation:landscape) {
    .main-wrapper {

        &.loginpage,
        &.companypage {
            height: 600px;

            .iptor-login-btn {
                background-color: $limed-spruce;
                padding: 18px 32px;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }
        }

        &.opportunity {

            .pagelvl-actionrow,
            .sec-product-desc,
            .sec-staging {
                display: none !important;
            }

            .opp-product-mobilecard {
                display: block;
                background: $white;
                margin-bottom: 24px;
                padding: 0;

                .product-name-action-row {
                    border-bottom: solid 1px $mercury;

                    .lft-prodname {
                        p {
                            padding: 24px 16px 0px 40px;
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                left: 12px;
                                top: 23px;
                                width: 24px;
                                height: 24px;
                                display: block;
                                //      background: url("./images/chevron-left-black.svg") no-repeat top left;
                            }

                            font: {
                                size: $base-font-size + 4;
                                weight: $font-weight-bold;
                            }

                            span.id-num {
                                display: block;
                                padding-top: 4px;

                                font: {
                                    size: $base-font-size - 2;
                                    weight: $font-weight-regular;
                                }
                            }

                            span.location {
                                display: block;
                                padding-top: 4px;

                                font: {
                                    size: $base-font-size - 2;
                                    weight: $font-weight-regular;
                                }
                            }
                        }
                    }

                    .rgt-actioncol {
                        padding: 24px 24px 24px 8px;

                        ul {
                            min-width: 120px;
                            text-align: right;
                            li {
                                img {
                                    width: 19px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }

                .status-row {
                    padding: 16px 12px 16px 12px;
                    border-bottom: solid 1px $mercury;

                    ul {

                        li {
                            margin-right: 16px;

                            &.grade {
                                background: $mercury;
                                color: $limed-spruce;
                                padding: 8px 16px;
                                @include border-radius(20px);

                                font: {
                                    size: $base-font-size - 2;
                                    weight: $font-weight-bold;
                                }
                            }

                            &.open {
                                color: $limed-spruce;

                                font: {
                                    size: $base-font-size;
                                    weight: $font-weight-semibold;
                                }
                            }

                            &.status {
                                color: $persian-green;

                                font: {
                                    size: $base-font-size;
                                    weight: $font-weight-semibold;
                                }
                            }
                        }
                    }
                }

                .qtr-details {
                    border-bottom: solid 1px $mercury;

                    .curr-qtr,
                    .deal-size {
                        p {
                            padding: 16px 12px;
                            line-height: 18px;

                            font: {
                                size: $base-font-size + 4;
                                weight: $font-weight-semibold;
                            }

                            span {
                                display: block;

                                font: {
                                    size: $base-font-size;
                                    weight: $font-weight-regular;
                                }
                            }
                        }
                    }
                }

                .mobsec-staging {

                    .title {
                        padding: 16px 16px 24px 12px;

                        font: {
                            size: $base-font-size;
                            weight: $font-weight-regular;
                        }
                    }

                    .stage-lvl {
                        overflow-y: auto;
                        position: relative;

                        .stage-circles {
                            padding-left: 0;
                            margin: 0px 12px 12px 12px;

                            li {
                                background: $mercury;
                                color: $gull-gray;
                                padding: 12px 15px;
                                @include border-radius(50%);
                                margin-right: 16px;

                                font: {
                                    size: $base-font-size + 4;
                                    weight: $font-weight-regular;
                                }

                                &.active {
                                    font: {
                                        size: $base-font-size + 4;
                                        weight: $font-weight-bold;
                                    }

                                    background: $jagged-ice;
                                    color: $persian-green;
                                    border: solid 1px $persian-green;
                                    position: relative;

                                    &::after {
                                        position: absolute;
                                        content: '';
                                        bottom: -14px;
                                        left: 17px;
                                        width: 0;
                                        height: 0;
                                        border-left: 10px solid transparent;
                                        border-right: 10px solid transparent;
                                        border-bottom: 10px solid $jagged-ice;
                                    }
                                }

                                &.ready {
                                    background: $white;
                                    color: $persian-green;
                                    border: solid 1px $persian-green;

                                    font: {
                                        size: $base-font-size + 4;
                                        weight: $font-weight-regular;
                                    }
                                }
                            }
                        }

                        .sec-change-approver {
                            position: sticky;
                            left: 0;
                            bottom: 0;
                            background: $jagged-ice;
                            padding: 16px 12px;

                            .cont {
                                color: $blue-bayoux;
                                width: 45%;

                                font: {
                                    size: $base-font-size;
                                    weight: $font-weight-semibold;
                                }
                            }

                            .action-btn {

                                width: 75%;

                                .txt-link {
                                    white-space: nowrap;
                                    @include text-link($white, $white, 0.5);
                                    @include border-radius($border-radius);
                                    background: $limed-spruce;
                                    text-align: center;
                                    padding: 12px 18px;
                                    color: $white;
                                }
                            }
                        }


                    }
                }
            }

            .sec-info-accordion {
                .accordion {
                    li {
                        display: block;
                        margin-bottom: 12px;

                        .accr-body-container {
                            li {
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }


        }

    }

    footer {
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    nav.site-navbar {
        display: none !important;
    }

    .main-wrapper {

        &.loginpage {
            height: 100vh;

            .login-lft-cont-container {
                position: inherit;
                border-top: none;
                bottom: inherit;
                left: inherit;
                right: inherit;
                text-align: center;
                width: inherit;
                padding: 40px 16px 16px 16px;

                .login-cont-logo {
                    width: 111px;
                    height: auto;
                }

                .para {
                    font-size: 24px;
                    width: 100%;
                }

                .version-details {
                    display: none;
                }
            }

            .login-panel-container {
                position: absolute;
                right: 24px;
                left: 24px;
                top: inherit;
                bottom: 24px;
                margin: 0;
                width: inherit;
                padding: 0;
                padding-bottom: 24px;

                img.login-form-logo {
                    display: none;
                }

                .welcome-txt {
                    margin-top: 12px;
                    margin-left: 12px;
                    margin-right: 12px;

                    font: {
                        size: $base-font-size;
                    }

                    .hi-txt {
                        display: none;
                    }
                }

                .form-placeholder-container {
                    margin-top: 16px;
                    margin-left: 12px;
                    margin-right: 12px;
                }

                .login-copyrights {
                    display: none;
                }
            }

            .iptor-login-btn {
                background-color: $limed-spruce;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }

            .iptor-login-btn {
                background-color: $limed-spruce;
                padding: 18px 32px;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }
        }

        &.companypage {
            height: 100vh;

            .mobile-backto-login {
                display: block;
            }

            .login-lft-cont-container {
                display: none;
            }

            .login-panel-container {
                position: absolute;
                right: 12px;
                left: 12px;
                top: 120px;
                bottom: 12px;
                margin: 0;
                width: inherit;
                padding: 12px;
                overflow-y: auto;

                img.login-form-logo {
                    display: none;
                }

                .username-txt {
                    margin-top: 12px;
                    margin-left: 12px;
                    margin-right: 12px;

                    font: {
                        size: $base-font-size;
                    }

                    .user-txt {
                        font: {
                            size: 24px;
                            weight: $font-weight-semibold;
                        }
                    }

                    .company-txt {
                        font: {
                            size: 18px;
                            weight: $font-weight-semibold;
                        }
                    }

                }

                .companylist-container {
                    max-height: inherit;
                    overflow-y: visible;
                }

                .desk-backto-login {
                    display: none;
                }

                .companys-list-item {
                    margin-top: 20px;
                }

                .login-copyrights {
                    display: none;
                }
            }
        }

        &.opportunity {
            .sec-info-accordion {
                .accordion {
                    .accr-body-container {
                        ul {
                            li {
                                width: 40%;
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        display: none;
    }
}

@media (max-width: 991.98px) and (orientation:landscape) {
    .main-wrapper {

        &.loginpage {
            height: 600px;

            .iptor-login-btn {
                background-color: $limed-spruce;
                padding: 18px 32px;

                &:hover {
                    background: rgba($limed-spruce, 0.9);
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    nav.site-navbar {
        display: none !important;
    }

    .main-wrapper {

        &.loginpage {
            height: 100vh;
            position: relative;

            .login-lft-cont-container {
                position: absolute;
                left: 60px;
                bottom: 100px;
                width: 40%;
                padding-top: 56px;
                border-top: solid 1px $white;

                .para {
                    color: $white;
                    margin-top: 16px;
                    width: 70%;

                    font: {
                        size: 24px;
                        weight: $font-weight-bold;
                    }
                }

                .version-details {
                    font: {
                        size: $base-font-size;
                        weight: $font-weight-regular;
                    }

                    color: $white;
                    margin-top: 16px;
                    line-height: 19px;
                    width: 100%;
                }
            }

            .login-panel-container {
                position: absolute;
                right: 24px;
                width: 420px;
                top: 24px;
                bottom: 24px;
                background: $white;
                padding: 24px;
                @include border-radius($border-radius);

                .login-form-logo {
                    display: none;
                }

                .welcome-txt {
                    color: $blue-bayoux;
                    margin-left: 24px;
                    margin-right: 24px;
                    margin-top: 32px;
                    line-height: 49px;

                    font: {
                        weight: $font-weight-regular;
                        size: 36px;
                        color: $blue-bayoux;
                    }

                    span {
                        display: block;
                    }
                }

                .login-copyrights {
                    position: absolute;
                    bottom: 24px;
                    left: 0;
                    padding-left: 48px;
                    padding-right: 48px;
                    color: $bermuda-gray;
                    line-height: 16px;

                    font: {
                        size: $base-font-size - 2;
                        weight: $font-weight-regular;
                    }

                }

                .form-placeholder-container {
                    margin-top: 56px;
                    margin-left: 24px;
                    margin-right: 24px;
                }
            }
        }

        &.companypage {
            height: 100vh;
            position: relative;

            .login-lft-cont-container {
                position: absolute;
                left: 60px;
                bottom: 100px;
                width: 40%;
                padding-top: 56px;
                border-top: solid 1px $white;

                .para {
                    color: $white;
                    margin-top: 16px;
                    width: 70%;

                    font: {
                        size: 24px;
                        weight: $font-weight-bold;
                    }
                }

                .version-details {
                    font: {
                        size: $base-font-size;
                        weight: $font-weight-regular;
                    }

                    color: $white;
                    margin-top: 16px;
                    line-height: 19px;
                    width: 100%;
                }
            }

            .login-panel-container {
                .desk-backto-login {
                    display: none;
                }

                .companylist-container {
                    max-height: inherit;
                    overflow-y: visible;
                }

                .login-copyrights {
                    display: none;
                }
            }

        }

        &.opportunity {
            .sec-info-accordion {
                .accordion {
                    .accr-body-container {
                        li {
                            margin-bottom: 24px;
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}