.btn-primary{
    background-color: $color !important;
    border-color: $color !important;
  }
  .btn-login{
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 20px;
  }