@import 'reset';
@import 'mixins';
@import 'global-variables';

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba($blue-bayoux, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($persian-green, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($persian-green, 0.8);
}

body {
    background: $mercury;
    text-rendering: optimizeLegibility;

    &.login,
    &.company {
        background: url("../../../../assets/images/bg_login.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    color: $tundora;

    font: {
        size: 16px;
        family: $base-font-family;
    }

    .main-wrapper {
        &.loginpage {
            height: 950px;
            position: relative;
            background: url("../../../../assets/images/bg_login.png") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        
            .login-lft-cont-container {
                position: fixed;
                left: 100px;
                bottom: 60px;
                width: 50%;
                padding-top: 56px;
                border-top: solid 1px $white;

                .para {
                    color: $white;
                    margin-top: 16px;
                    width: 70%;

                    font: {
                        size: 36px;
                        weight: $font-weight-bold;
                    }
                }

                .version-details {
                    font: {
                        size: $base-font-size;
                        weight: $font-weight-regular;
                    }

                    color: $white;
                    margin-top: 16px;
                    line-height: 19px;
                    width: 60%;
                }
            }

            .login-panel-container {
                position: absolute;
                right: 24px;
                width: 448px;
                top: 24px;
                bottom: 24px;
                background: $white;
                padding: 24px;
                @include border-radius($border-radius);

                .welcome-txt {
                    color: $blue-bayoux;
                    margin-left: 24px;
                    margin-right: 24px;
                    margin-top: 32px;
                    line-height: 49px;

                    font: {
                        weight: $font-weight-regular;
                        size: 36px;
                        color: $blue-bayoux;
                    }

                    span {
                        display: block;
                    }
                }

                .login-copyrights {
                    position: absolute;
                    bottom: 24px;
                    left: 0;
                    padding-left: 48px;
                    padding-right: 48px;
                    color: $bermuda-gray;
                    line-height: 16px;

                    font: {
                        size: $base-font-size - 2;
                        weight: $font-weight-regular;
                    }

                }

                .form-placeholder-container {
                    margin-top: 48px;
                    margin-left: 24px;
                    margin-right: 24px;
                }
            }
        }

        &.companypage {
            height: 950px;
            position: relative;
            background: url("../../../../assets/images/bg_login.png") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        
            .mobile-backto-login {
                display: none;
            }

            .login-lft-cont-container {
                position: fixed;
                left: 100px;
                bottom: 60px;
                width: 50%;
                padding-top: 56px;
                border-top: solid 1px $white;

                .para {
                    color: $white;
                    margin-top: 16px;
                    width: 70%;

                    font: {
                        size: 36px;
                        weight: $font-weight-bold;
                    }
                }

                .version-details {
                    font: {
                        size: $base-font-size;
                        weight: $font-weight-regular;
                    }

                    color: $white;
                    margin-top: 16px;
                    line-height: 19px;
                    width: 60%;
                }
            }

            .login-panel-container {
                position: absolute;
                right: 24px;
                width: 448px;
                top: 24px;
                bottom: 24px;
                background: $white;
                padding: 24px;
                @include border-radius($border-radius);

                .username-txt {
                    color: $blue-bayoux;
                    margin-left: 24px;
                    margin-right: 24px;
                    margin-top: 32px;
                    line-height: 32px;

                    font: {
                        weight: $font-weight-regular;
                        size: $base-font-size + 10;
                        color: $blue-bayoux;
                    }

                    span {
                        display: block;
                    }
                }

                .companylist-container {
                    overflow-y: auto;
                    max-height: 469px;
                    margin-top: 48px;
                    padding-right: 24px;
                    padding-left: 24px;

                    .companys-list-item {
                        padding-bottom: 16px;

                        li {
                            border: solid 1px $blue-bayoux;
                            @include border-radius($border-radius);
                            @include transition;
                            padding: 31px 15px;
                            margin-bottom: 16px;
                            color: $cod-grey;

                            font: {
                                size: $base-font-size;
                                weight: $font-weight-regular;
                            }

                            &:hover {
                                background: $aqua-spring;
                            }

                        }
                    }
                }

                .desk-backto-login {
                    margin-top: 48px;
                    padding-left: 24px;
                }

                .login-copyrights {
                    position: absolute;
                    bottom: 24px;
                    left: 0;
                    padding-left: 48px;
                    padding-right: 48px;
                    color: $bermuda-gray;
                    line-height: 16px;

                    font: {
                        size: $base-font-size - 2;
                        weight: $font-weight-regular;
                    }

                }
            }

        }
    }

    footer {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        background: $geyser;
        text-align: right;


        p {
            padding: 8px 16px 7px 16px;
            color: $bermuda-gray;
            display: inline-block;

            font: {
                size: $base-font-size;
                family: $base-font-family;
                weight: $font-weight-regular;
            }

            img {
                width: 44px;
                height: auto;
                margin-right: 20px;
                vertical-align: middle;
            }
            position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 70px;
                    top: 8px;
                    bottom: 8px;
                    width: 2px;
                    background: $bermuda-gray;
                }
        }
    }

    @import 'header';
    @import 'accordion';
    @import 'opportunity-details';
    @import 'common-styles';
    @import 'staging-arrow';
    @import 'mediaqueries';

}

.company-container {
    position: relative;
    cursor: pointer;
  }
  .company-container .center .company-selection-img {
    width:20px;
    height: 20px;
    right:10px;
    top: 0px;
    position:absolute;
    display:none;
  }

.error {
    line-height:22px;
    color: #FF0201;
    margin-left: 24px;
    display: block;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 24px;
    margin-top: 24px;
  }
  
  .alert-icon {
    width: 16px;
    height: auto;
}

.logout {
    margin-top: 22px;
    border-radius: 56%;
    height: 36px;
    width: 36px;
    border: none;
    color: #00A3A5;
    background-color: #FFf;
}