.accr-body-container {
    padding: 12px 0;
    background: $white;
    margin-bottom: 70px;

    &.customers-comp {
        margin-bottom: 0;
        padding-bottom: 0;

        .col-md-4:nth-last-child(-n+3){
            .card{
                margin-bottom: 15px !important;
            }
        }

        .container-fluid {
            .card {
                background: none;
                border: none;
                width: 100%;
                margin-left: 0;

                .card-body {
                    padding: 0;
                    position: relative;
                    background: $white;
                    border: solid 1px $geyser;
                    @include border-radius($border-radius);

                    &.disable-address {
                        background: $mercury;

                        .card-action-icons {
                            opacity: 0.2;

                            .edit-address,
                            .delete-address {
                                cursor: auto;
                            }
                        }

                        .name-add-sec {
                            opacity: 0.6;
                        }
                    }

                    .name-add-sec {
                        padding: 24px 24px 12px 24px;
                    }

                    .person-name-desig {
                        margin-bottom: 16px;
                        padding-right: 40px;

                        .name {
                            color: $limed-spruce;
                            display: block;
                            margin-bottom: 8px;

                            font: {
                                size: $base-font-size;
                                weight: $font-weight-semibold;
                            }
                        }

                        .designation {
                            color: $blue-bayoux;

                            font: {
                                size: $base-font-size - 2;
                                weight: $font-weight-regular;
                            }
                        }
                    }

                    .mailid {
                        margin-bottom: 4px;
                    }

                    .contact-num {
                        margin-bottom: 16px;
                    }

                    .mailid,
                    .contact-num {
                        color: $limed-spruce;

                        font: {
                            size: $base-font-size;
                            font-weight: $font-weight-regular;
                        }
                    }

                    .contact-address {
                        font: {
                            size: $base-font-size;
                            font-weight: $font-weight-regular;
                        }

                        .line1,
                        .line2,
                        .line3 {
                            display: block;
                            margin-bottom: 4px;
                        }
                    }

                    .card-action-icons {
                        position: absolute;
                        right: 24px;
                        top: 24px;

                        .edit-address {
                            margin-right: 8px;
                        }
                    }

                    .active-switch {
                        background: $mercury;
                        padding: 20px 24px;
                        text-align: right;

                        .active-text {

                            font: {
                                weight: $font-weight-bold;
                                size: $base-font-size + 4;
                            }

                            label {
                                margin-bottom: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .main-wrapper {
        &.customer {
            .customer-mobilecard {
                .customer-row {
                    .left-custname {
                        p {
                            &::before {
                                top: 24px;
                            }
                        }
                    }
                }

                .customer-details {

                    .left-data,
                    .right-data {
                        p {
                            margin-bottom: 0;
                            padding: 16px 24px;
                        }
                    }
                }

                .lft-col {
                    width: 100%;

                    span {
                        padding-top: 0;
                    }
                }
            }

            .sec-customer-desc {
                padding: 0;

                .cust-group {
                    width: 100%;
                    padding: 16px 24px;
                }

                .group-sec {
                    padding: 16px 24px 0px 24px;

                    ul {
                        li {
                            margin-bottom: 16px;
                            margin-right: 10px;
                            display: inline-block;

                            span {
                                margin-right: 0 !important;
                            }
                        }
                    }
                }
            }

            .sec-info-accordion {
                
                .accordion {
                    .cust-details {
                        .collapse {
                            background: $mercury;
                            .accr-body-container {
                                padding: 0;
                                margin-bottom: 0;

                                .accr-list-columns {
                                    margin: 16px;
                                    margin-top: 0;
                                    margin-bottom: 0;
                                    padding-left: 0;

                                    li {
                                        margin-bottom: 12px;
                                    }
                                }
                            }
                        }
                    }


                    .contact-class {

                        .card-link {
                            padding: 0;

                            .cust-title {
                                padding: 16px 24px;
                                width: 100%;
                                margin-right: 0;
                            }

                            .cust-info {
                                margin: 0;
                                padding: 16px 24px;
                                @include border-radius(0);

                                span {
                                    display: inline-block;
                                }

                                ;
                            }

                            .action-icon {
                                top: 10px;
                            }

                            &::after {
                                top: 25px;
                            }
                        }

                        .collapse{
                           .customers-comp{
                               background: $white;
                               padding-top: 16px !important;
                           }
                        }
                    }

                    .accr-body-container {
                        background: $mercury;
                        padding-top: 0;
                        margin-bottom: 0;

                        .bdy-list-item {
                            margin-top: 0;
                            padding-top: 16px;
                        }
                    }
                }
            }
        }
    }
}