body{
    background-color: #eef0f2; //#E5E5E5;
}
#loader-overlay {
    position: fixed;
    z-index: 9998;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: transparent;
    cursor: progress;
}
#loader_container {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}
#loader_container_opp {
    z-index: 9999;
    position: absolute;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}
#loader-bg {
    height: 64px;
    width: 64px;
    border-radius: 4px;
    background-color: #d3d3d3;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#loader_part_1_cover {
    position: absolute;
    width: 31px;
    height: 7.5px;
    left: 6px;
    top: 18px;
    background: #00a3a5;
    border-radius: 15.5px;
}
#loader_part_2_cover {
    position: absolute;
    width: 26px;
    height: 7.5px;
    left: 27px;
    top: 28px;
    background: #00a3a5;
    border-radius: 15.5px;
}
#loader_part_3_cover {
    position: absolute;
    width: 20px;
    height: 7.5px;
    left: 22px;
    top: 38px;
    background: #00a3a5;
    border-radius: 15.5px;
}
#loader-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #d3d3d3;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-animation: loader_animation 2s linear infinite;
    animation: loader_animation 2s linear infinite;
}
@keyframes loader_animation {
    0% {
        transform: scaleX(100%);
    }

    100% {
        transform: scaleX(0);
    }
}
#loader-text {
    color: #ffffffbf;
    font-size: 24px;
    line-height: 32.68px;
    font-weight: 600;
    text-align: center;
}
#loader-text_opp {
    color: #506574d1;
    font-size: 24px;
    line-height: 32.68px;
    font-weight: 600;
    text-align: center;
}

.dashboard-cards-container {
    width: 100%;
    display: block;

    .cardsec-title {
        font: {
            weight: $font-weight-bold;
            size: $base-font-size + 2;
        }

        margin-top: 24px;
        margin-bottom: 16px;
    }

    .card {
        @include border-radius($border-radius);

        .card-title-row {
            border-bottom: solid 1px $geyser;
            padding: 0px 16px 0 16px;
            min-height: 58px;

            .card-title {
                padding: 18px 0px 18px 0px;
                margin-bottom: 0;

                font: {
                    weight: $font-weight-bold;
                    size: $base-font-size;
                }
            }

            .singlelink {
                margin-top: 24px;
            }

            .pipeline-title-link {
                font: {
                    size: $base-font-size;
                    weight: $font-weight-semibold;
                }

                color: $limed-spruce;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .card-body {
            padding: 16px;
            min-height: 250px;

            &.pipeline {
                .pipeline-items {
                    margin-top: 12px;
                    margin-bottom: 20px;

                    font: {
                        weight: $font-weight-bold;
                        size: $base-font-size - 2;
                    }

                    span {
                        display: block;
                        padding-top: 4px;

                        font: {
                            weight: $font-weight-regular;
                            size: $base-font-size - 2;
                        }
                    }
                }
            }

            .cust-newly-added {
                li {
                    margin-bottom: 30px;
                    margin-top: 10px;

                    font: {
                        size: $base-font-size - 2;
                        weight: $font-weight-bold;
                    }

                    span {
                        display: block;

                        font: {
                            weight: $font-weight-regular;
                            size: $base-font-size - 4;
                        }
                    }
                }
            }

            .target-customer-list {
                li {
                    padding-bottom: 18px;

                    font: {
                        weight: $font-weight-semibold;
                        size: $base-font-size;
                    }
                }
            }

            .recent-customer-list {
                li {
                    padding-bottom: 9px;

                    font: {
                        weight: $font-weight-semibold;
                        size: $base-font-size;
                    }

                    span {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
        }

        .img-holder {
            width: 100%;
            height: 160px;
            display: block;
            position: relative;

            &.news-img1 {
                background: url(../images/news/news1.jpg) no-repeat center center;
                background-size: cover;
            }

            &.news-img2 {
                background: url(../images/news/news2.jpg) no-repeat center center;
                background-size: cover;
            }

            .newsimg-desc {
                text-align: center;
                color: $white;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 16px;

                font: {
                    size: $base-font-size;
                    weight: $font-weight-semibold;
                }
            }

        }

        .news-desc-content {
            padding: 24px 16px 16px 16px;

            .title {
                color: $limed-spruce;
                padding-right: 16px;

                font: {
                    size: $base-font-size;
                    weight: $font-weight-semibold;
                }

                span.news-dt {
                    color: $bermuda-gray;

                    font: {
                        size: $base-font-size - 2;
                        weight: $font-weight-light;
                    }
                }
            }

            .news-cont {
                margin-top: 8px;
                color: $blue-bayoux;
                line-height: 17.7px;
                padding-right: 16px;

                font: {
                    size: $base-font-size - 1;
                    weight: $font-weight-regular;
                }
            }
        }
    }
}

.dshbrd-sticky-header {
    display: none;
    background-color: #fff;

    .dshbrd-logo-row {
        background: $white;
        padding: 17px 16px;

        .lft-col {
            li {
                position: relative;
                padding-right: 16px;
                padding-left: 16px;
                color: $limed-spruce;

                font: {
                    size: $base-font-size - 2;
                    weight: $font-weight-semibold;
                }

                img {
                    vertical-align: middle;
                    padding-right: 5px;
                }

                &:first-child{
                    padding-left: 0;
                }

                &:first-child::after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    background: $blue-bayoux;
                }
            }
        }

        .rgt-col {
            li {
                padding-left: 16px;
            }
        }
    }
}

.mobview-user-prof-container{
    display: none;
}






@media (max-width: 767.98px) {
    .dshbrd-sticky-header {
        display: block;
    }

    .newsandupdates {
        margin-bottom: 62px;
    }

    .mobview-user-prof-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1040;
        background-color: #fff;
        background: rgba(80, 101, 116, 0.2); // Make sure this color has an opacity of less than 1
        backdrop-filter: blur(12px); // This be the blur

        .panel-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 16px;
            background: $white;

            .user-settings-list {
                li {
                    padding: 32px 0;

                    a {
                        padding-left: 48px;
                        vertical-align: middle;
                        color: $limed-spruce;
                        text-decoration: none;

                        font: {
                            size: $base-font-size + 2;
                            weight: $font-weight-semibold;
                        }
                    }

                    &.username {
                        background: url(../images/mob-customer-icon.svg) no-repeat left center;
                    }

                    &.logout {
                        background: url(../images/mob-logout-icon.svg) no-repeat left center;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .dshbrd-sticky-header {
        display: block;
    }

    .newsandupdates {
        margin-bottom: 62px;
    }

    .mobview-user-prof-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1040;
        background-color: #fff;
        background: rgba(80, 101, 116, 0.2); // Make sure this color has an opacity of less than 1
        backdrop-filter: blur(12px); // This be the blur

        .panel-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 16px;
            background: $white;

            .user-settings-list {
                li {
                    padding: 32px 0;

                    a {
                        padding-left: 48px;
                        vertical-align: middle;
                        color: $limed-spruce;
                        text-decoration: none;

                        font: {
                            size: $base-font-size + 2;
                            weight: $font-weight-semibold;
                        }
                    }

                    &.username {
                        background: url(../images/mob-customer-icon.svg) no-repeat left center;
                    }

                    &.logout {
                        background: url(../images/mob-logout-icon.svg) no-repeat left center;
                    }
                }
            }
        }
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .dshbrd-sticky-header {
        display: block;
    }

    .newsandupdates {
        margin-bottom: 62px;
    }

    .mobview-user-prof-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1040;
        background-color: #fff;
        background: rgba(80, 101, 116, 0.2); // Make sure this color has an opacity of less than 1
        backdrop-filter: blur(12px); // This be the blur

        .panel-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 16px;
            background: $white;

            .user-settings-list {
                li {
                    padding: 32px 0;

                    a {
                        padding-left: 48px;
                        vertical-align: middle;
                        color: $limed-spruce;
                        text-decoration: none;

                        font: {
                            size: $base-font-size + 2;
                            weight: $font-weight-semibold;
                        }
                    }

                    &.username {
                        background: url(../images/mob-customer-icon.svg) no-repeat left center;
                    }

                    &.logout {
                        background: url(../images/mob-logout-icon.svg) no-repeat left center;
                    }
                }
            }
        }
    }


}


@media (max-width: 1024px) and (orientation:landscape) {
    .iptor-sticky-footer {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background: $limed-spruce;
        color: $white;
        z-index: 9;

        .col {
            text-align: center;
            padding: 16px;

            &.active-menu {
                border-bottom: solid 4px $white;
            }

            img {
                width: 24px;
                height: 24px;
            }

            .notification {
                position: relative;
                width: 24px;
                height: 24px;
                display: block;

                .red-dot {
                    position: absolute;
                    right: -5px;
                    top: 1px;
                    width: 8px;
                    height: 8px;
                    background: $mandy;
                    display: block;
                    @include border-radius(50%);
                }
            }
        }
    }
}