.menu-item {
  user-select: none;
  cursor: pointer;
  border: 1px transparent solid;
}

.scroll-menu-arrow {
  //padding-top: 20px;
  cursor: pointer;
}

.scroll-menu-arrow--disabled {
  visibility: hidden;
}

.arrow-next {
  position: absolute;
  right: 24px;
  top: 13px;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background: url(../images/right-arrow.png) no-repeat center center;
}


.arrow-prev {
  position: absolute;
  left: -16px;
  top: 13px;
  margin-left: 0px;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background: url(../images/left-arrow.png) no-repeat center center;
}

.toggle-btn-group {
  display: flex;
  width: 100%;
  padding-left: 0px;
  width: 200px;
  position: relative;

  .switch-txt-btn {
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    color: #506574;
    border: 1px solid grey;
    background-color: #EEF0F2;
    box-shadow: none;
    outline: none;
    border-radius: 24px;
    box-sizing: border-box;
    font-weight: 700;
    z-index: 10;
    position: relative;

    &:first-child {
      position: sticky;
      left: 0px;
    }

    &:nth-child(2) {
      position: absolute;
      left: 67px;
    }

    &.active {
      margin-left: 0px;
      color: white;
      background-color: #506574;
      z-index: 11;
    }

    .left-align {
      position: absolute;
      left: 20px;
      width: 100%;
    }

    .right-align {
      position: absolute;
      right: 20px;
      width: 100%;
    }

  }
}

.btn:focus {
  box-shadow: none !important;
  outline: none;
}

.filter-items .btn {
  padding: 8px 7px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #6D899D;
  text-decoration: none;
  border: none;
  background-color: transparent;
  box-shadow: none !important;
  outline: none;

  &:hover {
    color: #6D899D;
  }

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.btn-active .btn {
  height: 40px;
  padding: 8px 31px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 24px;
  color: white;
  background-color: #506574;
  box-shadow: none !important;
  outline: none;
  font-weight: 700;

  &:hover {
    color: white;
  }

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.custom-menu {
  // border: 1px solid red;
  // position: absolute;
  // left:260px;
  // bottom: 23px;
  // top: 9px;
  width: 95%;
  padding-top: 3px;

  .menu-wrapper {
    .menu-wrapper--inner {
      .filter-items {
        padding: 0;

        .btn {
          padding: 4px 16px;
        }
      }
    }
  }
}

.filter-class {
  margin-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;

  .custom-menu {
    padding-top: 5px;
  }
}

.filter-class {
  .s-header {
    .col {
      display: block;
    }
  }
}

@media (max-width: 767.98px) {

  .filterrow {
    border-bottom: none;

    .mobFilterRow {
      width: 100%;
    }
  }

  .tabs-btn-row {
    position: relative;
    height: 40px;
    width: 100%;
    display: block;
    padding-left: 12px;

    img {
      position: absolute;
      right: 24px;
      top: 0;
    }
  }

  .custom-menu {
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;

    .scroll-menu-arrow {
      .arrow-prev {
        top: 30px;
        left: 16px;
      }

      .arrow-next {
        top: 30px;
        right: 16px;
      }
    }
  }



  .filter-class {
    display: block !important;

    .toggle-btn-group {
      .switch-txt-btn {
        padding-right: 10px;
        width: 100px;

        &:first-child {
          left: 10px;
          padding-left: 0px;
          z-index: 1000;
        }

        &.my-btn {
          position: absolute;
          padding-right: 0px !important;
          left: 68px;
        }
      }
    }
  }

}

.add-btn {
  display: inherit;
  position: relative;

  img {
    position: absolute;
    right: 24px;
    top: -40px;
  }
}


.customer-filter-container {
  margin-left:40px;
}