
.menu-item {
    user-select: none;
    cursor: pointer;
    border: 1px transparent solid;
  }
  .menu-item-wrapper {
    border: 1px transparent solid;
  }
  .menu-item-wrapper.active {
    border: 1px blue solid;
  }
  .menu-item.active {
    border: 1px green solid;
  }
  
  .scroll-menu-arrow {
    padding-top: 20px;
    cursor: pointer;
  }
  
  .scroll-menu-arrow--disabled {
    visibility: hidden;
  }

.horizontal-menu {
  width:90%;
}
  
.arrow-next {
    position: relative;
    left:40px;
    align-items: center;
    background-position: center;
    background-size: contain;
    height: 14px;
    width: 8px;
    background-repeat: no-repeat;
    background:  url(../images/right-arrow.png);
}

  
.arrow-prev {
    position: relative;
    right:25px;
    margin-left: 40px;
    align-items: center;
    background-position: center;
    background-size: contain;
    height: 14px;
    width: 8px;
    background-repeat: no-repeat;
    background:  url(../images/left-arrow.png);
}

.toggle-btn-group {
  display: flex;
  width: 100%;
  top:20px;
  bottom:20px;
  padding-left: 10px;

  .switch-txt-btn {
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    color: #506574;
    border: 1px solid grey;
    background-color: #EEF0F2;
    box-shadow: none;
    outline: none;
    border-radius: 24px;
    box-sizing: border-box;
    font-weight: 700;
    z-index: 1000;
    &:first-child {
      position: sticky;
      left: 60px;
    }

    &.active {
      margin-left: 4px;
      color: white;
      background-color: #506574;
      z-index: 1001;
    }

    .left-align {
      position: absolute;
      left:20px;
      width: 100%;
    }
    
    .right-align {
      position: absolute;
      right:20px;
      width: 100%;
    }
   
  }
}

.btn:focus {
  box-shadow: none !important;
  outline: none;
}

.filter-items .btn {
  padding: 8px 7px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #6D899D;
  text-decoration: none;
  border: none;
  background-color: transparent;
  box-shadow: none !important;
  outline: none;

  &:hover {
    color: #6D899D;
  }

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.btn-active .btn {
  height: 40px;
  padding: 8px 31px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 24px;
  color: white;
  background-color: #506574;
  box-shadow: none !important;
  outline: none;
  font-weight: 700;

  &:hover {
    color:white;
  }

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.custom-menu {
  // border: 1px solid red;
  position: absolute;
  left:260px;
  bottom: 23px;
  top: 9px;
  width: 75%;
}

.filter-class {
     margin-right: 24px;
     padding-top: 9px;
}

.menu-wrapper {
  padding-top: 17px;
}

.menu-wrapper--inner {
  position:relative;
  right: 90px;
}