@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


// BASE FONT FAMILY, FONT SIZE, LINE HEIGHT & COLOR
$base-font-family : 'Open Sans',
sans-serif;
$base-font-size: 14px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// COLORS
$black : #000000;
$o-black : #2F3C46;
$white : #ffffff;
$tundora : #404040;
$persian-green : #00A3A5;
$blue-bayoux :#506574;
$bermuda-gray: #6D899D;
$limed-spruce: #2F3C46;
$aqua-spring: #E9F9F9;
$cod-grey: #121212;
$mercury: #EEF0F2;
$geyser: #DAE2E7;
$gull-gray:#9DB0BE;
$jagged-ice:#D0EEEE;
$azalea: #FBDBE1;
$mandy : #EB617C;
$tangerine: #E09900;
$iceberg: #d3ebf1; // INFO BG COLOR
$deep-sea-green: #0c5460; // INFO TXT COLOR
$we-peep: #F6D6DA; // DANGER BG COLOR
$persiann-plum: #721c24; // DANGER TXT COLOR
$pipi: #fef5cc; // WARNING
$yukon-gold: #856404; // WARNING

$border-radius : 4px;
$animation-speed : 0.3s;