

@mixin icon-background($path, $icon, $size) {
    background: url('#{$path}#{$icon}.svg') no-repeat;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size $size;
    height: $size;
    width: $size;
}

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {

    height: calc(100vh - 302px);
   

    .ag-root-wrapper {
        border: 1px solid #EEF0F2 !important ;
    }

    .ag-header {
        // or write CSS selectors to make customisations beyond what the parameters support
        background-color: #eef0f2;
        border-bottom: transparent !important;
    }

    .ag-header-row {
      display: grid;
      grid-template-columns: 15% 16% 25% 15% 8%  10% 3% 3%;
      grid-template-rows: 100% auto;
      margin-bottom: 2px;
    
        .ag-header-cell-label {
          display: flex;
          width: 100%;
          padding: 0 0px 8px 24px;
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;
          color:#2F3C46;
          padding:0px;
          padding-top:30px;
          padding-left:4px;

          .ag-header-cell-text{
            margin-left:6px;
          }
            .ag-icon{
                
                 width: 10px;
                height: 7px;
               
                margin-left: 10px;
          
                &.ag-icon-asc{
                    background: url(../images/down-arrow.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    &:before {
                        content: '' !important;
                      }
                
                }
                    
                &.ag-icon-desc{
                    background: url(../images/down-arrow.svg);
                    transform: scaleY(-1);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    &:before {
                        content: '' !important;
                      }
                    
                }
            }
          
        }
    }

    
    .ag-row{
      display: grid;
      grid-template-columns:15% 16% 25% 15% 8%  10% 3% 3%;
      grid-template-rows: 100% auto;
      margin-bottom: 2px;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #fff;
      border:2px solid #EEF0F2 !important;
      cursor: pointer;

      &.ag-row-odd {
          background-color: #FFF ;
      }

      &:hover{
          border: 1px solid #00A3A5 !important;
          box-sizing: border-box;
          border-radius: 4px;
      }

      .ag-cell{

          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 10px 0px 10px 24px;
          border-radius: inherit;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          /* identical to box height */
          text-transform: capitalize;
          color: #2F3C46;

          .o-name{
             font-weight: 600;    
             text-align: left; 
             padding-left:6px;
             margin-right:90px
          }

          .o-number{
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              display: block;
              color: #6D899D;
              text-align: justify; 
              padding-left:6px;
          }

          .o-customer {
            text-align: left; 
          }

          .o-owner {
            text-align: left; 
          }
          .o-forecast{
              font-weight: 600;  
          }

          .o-quarter{
              font-weight: 600;
              padding-left:35px;
          }

          .o-size{
              font-weight: 600;  
          }

          .o-stage{
              font-weight: 600;  
              background: #EEF0F2;
              border-radius: 22px;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 19px;
              display: flex;
              align-items: center;
              text-align: center;
              text-transform: uppercase;
              color: #2F3C46;
              padding: 6.4px 24px;
              display: inline-block;
          }
          .stage {
            padding-left:12px;
          }
        }
    }
      
    /* Hide scrollbar for Chrome, Safari and Opera */
    .ag-body-viewport::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    .ag-body-viewport {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .inactive-customer {
        background-color: #dae2e7 !important;
    }

   
}
