.new-opportunity-btn {
    padding-left: 15px;
    padding-right: 15px;
    height: 48px;
    background: #EB617C;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    box-shadow: none;

    &:hover {
        color: #fff;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }
}




.sliding-panel-container {




    .sliding-panel {
        top: 0;
        background: #fff;
        width: 550px;
        z-index: 20;

        .title-row {
            padding: 24px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
            position: relative;

            .panel-close-icon {
                position: absolute;
                right: 24px;
                top: 24px;

                &:hover {
                    cursor: pointer;
                }
            }

            .mob-steps-back {
                display: none;
            }
        }

        .all-opportunity-steps-container {
            overflow-y: auto;
            padding-right: 24px;
            // border: solid 1px red;
            height: calc(100vh - 65px);
            background: $white;

            .opportunity-step-circles {
                padding: 32px 24px 24px 24px;

                .step-circles {

                    .steps {
                        @include border-radius(50%);
                        width: 51px;
                        height: 51px;
                        background: $mercury;
                        color: $gull-gray;
                        margin-right: 26px;
                        position: relative;

                        font: {
                            size: $base-font-size + 8;
                        }

                        text-align: center;
                        padding-top: 8px;

                        &.active {
                            background: $aqua-spring;
                            border: solid 1px $persian-green;
                            color: $persian-green;

                            font: {
                                size: $base-font-size + 8;
                                weight: $font-weight-semibold;
                            }
                        }

                        &::after {
                            position: absolute;
                            content: '';
                            height: 1px;
                            width: 31px;
                            background: $geyser;
                            left: 50px;
                            top: 26px;
                        }

                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }

                        &.circle-stepone,
                        &.circle-steptwo,
                        &.circle-stepthree {
                            .checked {
                                display: none;

                                img {
                                    width: 20px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }

            .opportunity-forms {
                padding-left: 24px;

                .stepone-title,
                .steptwo-title,
                .stepthree-title {
                    color: $bermuda-gray;

                    font: {
                        size: $base-font-size + 6;
                        weight: $font-weight-semibold;
                    }
                }

                .steptwo-title,
                .stepthree-title {
                    display: none;
                }

                .react-datepicker-wrapper,
                .react-datepicker__input-container,
                .react-datepicker__input-container input {
                    display: block;
                    width: 100%;
                }

                .steps-two-forms {
                    display: block;
                    padding-bottom: 16px;
                }

                .steps-three-forms {
                    display: block;

                    .radiogrp-btns {
                        label {
                            font: {
                                weight: $font-weight-semibold;
                            }

                            padding: 24px;
                            background: url(../images/uncheck_circle.svg) no-repeat 94% 25px;
                        }

                        input[type="radio"]:checked + label {
                            background: $jagged-ice url(../images/radio-selected.svg) no-repeat 94% 25px;
                            border: solid 1px $persian-green;
                            color: $limed-spruce;

                            font: {
                                weight: $font-weight-semibold;
                            }
                        }
                    }
                }
            }

            .opportunity-type-container {
                .opptytype-list-item {
                    padding-bottom: 0;
                    margin-bottom: 0;

                    li {
                        background: $white;
                        border: solid 1px $geyser;
                        @include border-radius($border-radius);
                        @include transition;
                        padding: 31px 15px;
                        margin-bottom: 16px;
                        color: $cod-grey;

                        font: {
                            size: $base-font-size;
                            weight: $font-weight-regular;
                        }

                        &:hover {
                            background: $aqua-spring;
                        }

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .product-items-container {
                height: calc(100vh - 380px);
                overflow-y: auto;

                .opptytype-list-item {
                    padding-bottom: 16px;

                    li {
                        background: $white;
                        border: solid 1px $geyser;
                        @include border-radius($border-radius);
                        @include transition;
                        padding: 31px 15px;
                        margin-bottom: 16px;
                        color: $cod-grey;

                        font: {
                            size: $base-font-size;
                            weight: $font-weight-regular;
                        }

                        &:hover {
                            background: $aqua-spring;
                        }
                    }
                }
            }

            .step-nextbtn-with-arrow {
                margin-top: 0px;
                margin-bottom: 20px;

                .stepstwo-nxtbtn,
                .stepthree-nxtbtn {
                    display: none;
                }
            }
        }
    }
}

.radiobtn-collection {

    .title {
        color: $blue-bayoux;
        margin-bottom: 16px;

        font: {
            size: $base-font-size + 2;
            weight: $font-weight-semibold;
        }
    }

    .radiogrp-btns {
        input[type="radio"] {
            display: none;

            &:not(:disabled)~label {
                cursor: pointer;
            }
        }

        label {
            height: 100%;
            display: block;
            background: white;
            border: 1px solid $blue-bayoux;
            @include border-radius($border-radius);
            padding: 28px 24px;
            margin-bottom: 1rem;
            //margin: 1rem;
            text-align: left;
            position: relative;
            color: $blue-bayoux;

            span {
                display: block;
                color: $limed-spruce;

                font: {
                    size: $base-font-size - 5;
                }
            }
        }

        input[type="radio"]:checked+label {
            background: $jagged-ice url(../images/radio-selected.svg) no-repeat 94% 25px;
            border: solid 1px $persian-green;
            color: $limed-spruce;

            font: {
                weight: $font-weight-semibold;
            }
        }

        // input[type="radio"]#control_05:checked+label {
        //     background: red;
        //     border-color: red;
        // }
    }
}


.radiogrp-btns {
    .btn-group-toggle {
        width: 100%;

        label {
            margin-bottom: 0;

            &.btn-primary {
                background: $white;
                border-color: $blue-bayoux;

                &.active {
                    background: $blue-bayoux;
                }
            }

            &.btn-primary:not(:disabled):not(.disabled).active {
                border-color: transparent;
                box-shadow: none;
                outline: none;
            }

            &.btn-primary:not(:disabled):not(.disabled):active {
                background: $white;
                border-color: transparent;
            }
        }
    }
}

.oppty-form-elements label.opp-label {
    font-size: $base-font-size + 4;
    color: #506574;
    font-weight: $font-weight-semibold;
    margin-bottom: 8px;
}

.opt-field {
    font-size: $base-font-size + 2;
    font-weight: 400;
    font-style: italic;
}

.opp-header-text {
    font-size: $base-font-size + 4;
    font-weight: $font-weight-bold !important;

}

.add-subtitle {
    font-size: $base-font-size + 6;
    font-weight: $font-weight-semibold;
}

.oppty-form-elements label.cust-label {
    font-size: $base-font-size + 4;
    font-weight: $font-weight-semibold;
    margin-bottom: 8px;
    color: #2F3C46;
}

.customer-btn {
    background: #EB617C;
    color: $white;
    padding: 12px 24px;
    display: block;
    text-align: center;
    @include border-radius($border-radius);
    position: relative;
    width: 100%;
    border: none;

    font: {
        family: $base-font-family;
        size: $base-font-size;
        weight: $font-weight-semibold;
    }

    &:hover {
        text-decoration: none;
        outline: none;
        border: none;
        color: #fff;
    }
}

.input-icon-container {
    position: relative;

    .input-icon {
        padding: 12px 50px;
    }

    .currency-sign {
        position: absolute;
        left: 15px;
        top: 42px;
    }
}

.selected-products { 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .item-description { 
        padding: 8px 4px; 
        background-color:#DDD;
        color: #000;
        border:1px solid #EB617C;
        border-radius: 10px;
        margin: 4px 5px;
        padding: 10px 10px;
        
        font: {
            family: $base-font-family;
            size: $base-font-size;
            weight: $font-weight-semibold;
        }
    }
}

// TOASTER STYLE START
.alert-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .alert {
        padding: 16px 60px;
        min-width: 320px;
        max-width: 600px;
        @include border-radius($border-radius);
        box-shadow: 0px 0px 16px rgba(80, 101, 116, 0.4);
        line-height: 25px;


        font: {
            size: $base-font-size + 4;
            weight: $font-weight-semibold;
        }

        .alert-close {
            position: absolute;
            right: 8px;
            top: 10px;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        &.alert-success {
            background: $jagged-ice url(../images/check-circle.svg) no-repeat;
            background-position: 16px;
            color: $persian-green;
        }

        &.alert-info {
            background: $iceberg url(../images/alert-info.svg) no-repeat;
            background-position: 16px;
            color: $deep-sea-green;
        }

        &.alert-danger {
            background: $we-peep url(../images/alert-danger.svg) no-repeat;
            background-position: 16px;
            color: $persiann-plum;
        }

        &.alert-warning {
            background: $pipi url(../images/alert-warning.svg) no-repeat;
            background-position: 16px;
            color: $yukon-gold;
        }

    }
}

// TOASTER STYLE END